POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=quarkbb
POSTGRES_USER=quarkbb
POSTGRES_PASSWORD=quarkbb_password

ETHEMERAL_HOST=localhost
ETHEMERAL_PORT=5433
ETHEMERAL_DB=ethemeral_db
ETHEMERAL_USER=ethemeral_db
ETHEMERAL_PASSWORD=ethemeral_password
